@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Tangerine:wght@700&display=swap');
header{
    background-image: url('https://i.ibb.co/8d8P81j/todo-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.heading{
    /* font-family: 'Aref Ruqaa', serif; */
    font-family: 'Tangerine', cursive;
    font-size: 5vmax;
    font-weight: 800;
}
.from-control{
    width: 100%;
    margin: 0 auto !important;
    padding: 5px;
}
.all-btn{
    display: flex;
    justify-content: right;
}
.search-container{
    background-color: #555;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}
.innerbtn{
    border: none;
    background-color: #333;
}
.innerbtn:hover{
    background-color:#5ca;
}
.deletebtn{
    border: none;
    background-color: #922;
    color:#fff !important;
}
.deletebtn:hover{
    background-color:#f00;
    color:#fff;
}
.footer{
    position: absolute;
    bottom: -15px;
    text-align: center;
    width: 100%;
    background-color: #333;
    color:#ddd;
    padding: 10px;   
}
.note{
    font-size: 30px;
    color: #ddd;
}
/* headline animation effect */


  /* responsive */
@media only screen and (max-width:576px) {
    .from-control{
        width: 100%;
        margin-left: 50px;   
    }
    .all-btn .btn{
        width: 50%;
    } 
    .innerbtn{
        position: relative;
        right:-50%;
    }
}
/* @media only screen and (min-width:'577px') {
    .from-control{
        width: 80%;
    }
    
} */