@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Tangerine:wght@700&display=swap');

.heading{
    /* font-family: 'Aref Ruqaa', serif; */
    font-family: 'Tangerine', cursive;
    font-size: 5vmax;
    font-weight: 800;
}
.todo-outer{
    height: auto;
    background-image: url('https://i.ibb.co/TvBy73q/3-D-Render-Notebook-mock-up-with-clean-blank-for-design-and-advertising-3d-illustration-perspective.jpg');
    background-repeat: no-repeat; 
    background-position:center;
    background-size:cover;
    min-height: 80vh;
}
.from-control{
    
    width: 100%;
    margin: 0 auto !important;
    padding: 5px;
}
.all-btn{
    display: flex;
    justify-content: right;
}
.search-container{
    background-color: #555;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}
.innerbtn{
    border: none;
    background-color: #333;
}
.innerbtn:hover{
    background-color:#5ca;
}
.deletebtn{
    border: none;
    background-color: #922;
    color:#fff !important;
}
.deletebtn:hover{
    background-color:#f00;
    color:#fff;
}
.note{
    font-size: 30px;
    color: #ddd;
}

  /* responsive */
@media only screen and (max-width:576px) {
    .from-control{
        width: 100%;
        margin-left: 50px;   
    }
    .all-btn .btn{
        width: 50%;
    } 
    .innerbtn{
        position: relative;
        right:-50%;
    }
}